.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: 0em;
}
html{
    background-color: white;
}
body{
    background-color: white;
    /*	background-image:url(Images/colorful_polygons-2560x1600.jpg);*/

}
.item{
    width: auto;
    height: 100%;
}
img{
    display: block;
    max-width:230px;
    max-height:352px;
    width: auto;
    height: auto;
}
.nv{
    margin: 5%;
}
.rght{
    margin-left: 43em; /*for width*/
} 
.this:hover{
    background-color: ;
    color: red;
}
footer{
    background-color:#37383a;
    width: auto;
    height: 140px;
    color: white;
    padding: 2em 7em 2em 9em;
}
#form-control{
    margin: 3px 0px 3px 0px;
}
li,a,.nv{
    color: black;
    font-family:sans-serif;
    font-size: 15px;
    padding-top: 0.8%;
}
#navcolor{
    /* background: -webkit-linear-gradient(white,#657bff); /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(-90deg, #0099cc,#bcbcbf);
    border-style: none;
    width: auto;
    height: 4.5em;
    padding; 0em 2em 2em 11em;
    padding-top: 6px;
    padding-left:5em;
    padding-right: 10.3em;
    color: ;
}
.title{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #193030;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.cent{
    padding: 0em 9em 0em 9em;
    width: auto;
    height: 700%;
    background-color: white;
}

.ft{
    position: fixed;
}
.carousel-caption {
    position: fixed;
    top: 45%; 
    padding-left: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 15%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.nr{
    color: white;
    padding-bottom: 2%;
}
.nr:hover{
    color: greenyellow;
    font-size: 16px;
}


.rating {
    font-size: 25px;
    padding-right: 55%;
}
.rating,span{
    direction:rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    color: yellow;
    content: "\2605";
    position:absolute;
}
#tbr{
    margin: 0.6%;
}
.rates,.rate{
    display: inline-block;
}
.para{
    background-color: snow;	
}
.cont,.dwn{
    display: block;
}



}
textarea{
    resize: none;
}
.Tell{
    width: 100%;
    background-color: ;
    padding: 1em;
    text-indent: 10%;
}
.btn{

    background-color:transparent; 
    margin: 0px 2px 0px 2px;

}