div h1{
	text-align: center;
}
div.notification-area{
	background:#aaa;
	overflow: hidden;
	margin-left: 300px;
	width: 1000px;
	border-radius: 8px;
}
div.notification-data{
	padding: 30px 10px 30px 30px;
	width: 1000px;
	background: #aaa;
}
span{
	font-weight: bold;
}